<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
</head>
<body>
    <div id="content" align="center">
        <form action="/flask/register" method="post">
            <h1>Register</h1>
            <input type="text" id="username" placeholder="Username" required><br><br>
            <input type="text" id="first_name" placeholder="First Name" required><br><br>
            <input type="text" id="last_name" placeholder="Last Name" required><br><br>
            <input type="password" id="password" placeholder="Password" required><br><br>
            <input type="password" id="confirmPassword" placeholder="Confirm Password" required><br><br>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>
