<!DOCTYPE html>
<html>
<head>
    <title>Account Update</title>
</head>
<body>
    <div id="content" align="center">
        <form id="creditCardForm">
            <h1>Credit Card Information</h1>
            <input type="text" id="cardName" placeholder="Name on Card" required><br><br>
            <input type="text" id="cardNumber" placeholder="Card Number" required><br><br>
            <input type="text" id="expiryDate" placeholder="Expiry Date (MM/YY)" required><br><br>
            <input type="text" id="cvv" placeholder="CVV" required><br><br>
            <input type="submit" value="Update Credit Card Info">
        </form>

        <form id="addressForm">
            <h1>Address Information</h1>
            <input type="text" id="street" placeholder="Street" required><br><br>
            <input type="text" id="city" placeholder="City" required><br><br>
            <input type="text" id="state" placeholder="State" required><br><br>
            <input type="text" id="zip" placeholder="Zip Code" required><br><br>
            <input type="submit" value="Update Address Info">
        </form>
    </div>
</body>
</html>