{% extends "base.html" %}

{% block content %}
    <h1>Products</h1>
    <table>
    {% for product in products %}
        <tr>
            <td><a href="{{ url_for('product_detail', productID=product.productID, category=product.category) }}">{{ product.name }}</a></td>
            <td>{{ product.price }}</td>
            <td>{{ product.expiration }}</td>
            {% if product.category == 'Book' %}
                <td>Book</td>
                <td>{{ product.author }}</td>
                <td>{{ product.for_class }}</td>
            {% elif product.category == 'Ride' %}
                <td>Ride</td>
                <td>{{ product.time }}</td>
                <td>{{ product.departureFrom }}</td>
                <td>{{ product.seatsAvailable }}</td>
            {% else %}
                <td>Other</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
